<!DOCTYPE html>
<html ng-App="KRRclass" lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VideoGame Recommender</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/css-custom.css" rel="stylesheet">


  </head>

  <body ng-controller="MainCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-acl mb-5">
	  <a class="navbar-brand" href="#">
	      <img src="https://mpng.pngfly.com/20180611/kls/kisspng-xbox-360-controller-def-jam-icon-game-controllers-5b1eb483a4b161.6770510715287389476746.jpg" height="50" alt="">
		  VideoGame Recommender 
	    </a>
    </nav>

    <!-- Main Content -->
    <div class="container mb-5">
      
          <div class="form-group">
              <label for="my-select">Games</label>
              <select id="my-select" class="form-control" name="game"  ng-change="getGames()" ng-options="game for game in myGames" ng-model="chosenGame">
                <option value="">--Select Game--</option>
              </select>
            </div>

            <Div class="row align-items-center justify-content-center">
                <div ng-repeat="(number, gameValue) in valueGames" class="card" style="width: 18rem; display:inline-block; margin: 10px;" >
                    <div class="card-body">
                      <a href={{gameValue.name}}><h5 class="card-title">{{gameValue.name}}</h5></a>
                      <h6 class="card-subtitle mb-3">Has Same</h6>
                      <h6 class="card-subtitle mb-2 text-muted">Genres: {{gameValue.genre}}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">GameModes: {{gameValue.mode}}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">Developers: {{gameValue.developer}}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">Publishers: {{gameValue.publisher}}</h6>
                    </div>
                  </div>
            </Div>
            

    </div>

    


    <!-- Footer -->
    <footer class="footer sticky py-3 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Vu_Td-CoopLab 2018</p>
      </div>
    </footer>

    <!-- JavaScript libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>

	<script src="js/Chart.min.js"></script>
	<script src="js/angular-chart.min.js"></script>

	<script src="main.js"></script>

  </body>

</html>
